@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  direction: rtl;
}

body {
  font-family: 'Cairo', sans-serif;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
